<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Producto', css: 'productoStyles.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
<div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- /PARTIAL HEADER -->

    <!--BODY HOME -->
<!-- DETALLE DEL PRODUCTO -->
<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="/img/perfil.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%= product.name %></h3>
                <a class="uk-text-meta uk-margin-remove-top" href="/users/profile/<%= product.user.id %>">
                     <time datetime="2016-04-01T19:00">
                         by <%= product.user.name %>
                    </time>
                </a>
                <div class="iconos">
                    <a href="/" uk-icon="location"></a>
                    <a href="/favorite" uk-icon="heart"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <li><a href="#"><img src="/img/<%= product.img %>" alt="" class="imagen-producto"></a></li>
    </div>
    <div class="uk-card-footer">
        <div>
        <a class="uk-button uk-button-default" href="/cart">Agregar al Carrito</a>
        </div>

        <div class="precio">
        <p>$ <%= product.price %></p>
        </div>
    </div>
</div>
<!-- FIN DEL DETALLE DEL PRODUCTO -->
<!--COMENTARIOS -->
<h1 class="uk-heading-divider">Comentarios</h1>

<!-- Comment 1 -->
<article class="uk-comment">
    <header class="uk-comment-header uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="/img/perfil.jpg"width="40" height="40" alt="">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Jane doe</a></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a href="#">Hace 12 días</a></li>
                <li><a href="#">Responder</a></li>
            </ul>
        </div>
    </header>
    <div class="uk-comment-body">
        <p>De los mejores que probe!!!!</p>
    </div>
</article>

<!-- Comment 2 -->

<article class="uk-comment">
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="/img/jhondoe.jpg"width="40" height="40" alt="">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Jhon doe</a></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a href="#">Hace 2 días</a></li>
                <li><a href="#">Responder</a></li>
            </ul>
        </div>
    </header>
    <div class="uk-comment-body">
        <p>Super barato, rico y casero</p>
    </div>
</article>

<!-- Comment 3 -->

<article class="uk-comment">
    <div class="uk-width-auto">
        <img class="uk-comment-avatar" src="/img/jamesdoe.jpg"width="40" height="40" alt="">
    </div>
    <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">James Doe </a></h4>
        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
            <li><a href="#">Hace 3 semanas</a></li>
            <li><a href="#">Responder</a></li>
        </ul>
    </div>
</header>
<div class="uk-comment-body">
    <p>No me gusto la calidad del producto, sin embargo la vendedora super atenta.</p>
</div>
</article>

<!-- FIN DE LOS COMENTARIOS -->
<!-- Naranja decoración -->

<img src="/img/soup.jpg" alt="" class="soup">
<img src="/img/honey.jpg" alt="" class="honey">
   
    <!-- END INDEX BODY -->

<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>