<!DOCTYPE html>
<html lang="en">
<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Buscador', css: 'buscadorStyles.css'})%>
<!-- END OF PARTIAL HEAD -->

<body>
    <div class="body-container">
        <!-- PARTIAL HEADER -->
        <%- include('./partials/header')%>
        <!-- /PARTIAL HEADER -->
        <div class="row justify-content-center">
            <h1 id="titleProducts" style="text-align: center;">RESULTADOS DE TU BUSQUEDA</h1>
            <hr>
            <% if (result.length == 0) { %>
                    <h1 id="not-results" class="uk-heading-line uk-text-center" style="font-weight:200;"><span>No se encontraron
                            resultados</span></h1>
                    <img src="/img/tasitas.jpg" alt="" class="tasita2">
             <% } else { %>
                    <div id=productContainer class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">

                        <% for( let i = 0; i < result.length; i++ ) { %>
                            <div>
                                <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
                                    <a href="/product/detail/<%=result[i].id%>">
                                        <div style="height: 300px;">
                                            <img src="/img/<%= result[i].img %>" alt="producto" class="imagen-producto">
                                            <p id="name"><%= result[i].name %> </p>
                                            <p id="price">$<%= result[i].price %> </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>

            <% }%>

        <!-- END INDEX BODY -->

        <!-- PARTIAL FOOTER -->
        <%- include('./partials/footer')%>
        <!-- END OF PARTIAL FOOTER -->

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
    </div>
</body>

</html>